<!-- add the head section and the dynamic title to populate for signup -->

<!-- include the head -->
<%- include('../../shared/includes/head' ,{ pageTitle: 'Failure'}) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
    <!-- include the header -->
    <%- include('../../shared/includes/header')%>
    <main>
        <h1>Order Successful</h1>
        <p>You can visit <a href="/orders">the orders page</a>for more details</p>
    </main>


<!--Include the footer -->
<%- include('../../shared/includes/footer')%>

