<!--only the header section of the website that contain logo-->


<header>
    <div><a href="/">Shopiverse</a></div>
    <nav>
        <ul>
            <!-- only if user authenticated -->
            <% if (locals.isAuth) { %>
                <li>
                    <button>Logout</button>
                </li>
            <% } %>
            <!-- only if user authenticated -->
        </ul>
    </nav>
</header>