<article class="order-item">
    <header class="order-summary">
        <h2><span class="order-item-price">RM<%= order.productData.totalPrice.toFixed(2) %></span></h2>
        <p><span class="badge"><%= order.status.toUpperCase() %></span></p>
    </header>
    
    <section class="order-details">

    </section>
</article>