
<!-- include the head -->
<%- include('../../shared/includes/head' ,{ pageTitle: 'All Orders'}) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/order-management.js" defer></script>

</head>
<body>
    <!-- include the header -->
    <%- include('../../shared/includes/header')%>
    <main>
        <%- include('../../shared/includes/order-list')%>
    </main>


<!--Include the footer -->
<%- include('../../shared/includes/footer')%>
