/* global document styling applying to all files */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'sans-serif';

    /* add colors as variable and using it later */
    --color-gray-500: rgb(37,34,31);
    --color-milkwhite-500: rgb(237, 237, 237);
    --color-turqoise-500: rgb(58, 72, 85);
    
    --color-error-500: rgb(199,51,15);
    
    /* add spacing as variable and using it later */
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;

    /* add border radius as variable and using it later */
    --border-radius-small: 4px;
    --border-radius-medium: 6px;

    /* add shadow medium as variable and using it later */
    --shadow-medium: 0 2px 8px rgba(0,0,0,0.2);

}

body {
    background-color: var(--color-milkwhite-500);
    color:var(--color-turqoise-500);
    margin:0;
}