/* global document styling applying to all files */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'sans-serif';

    /* add colors as variable and using it later */
    --color-gray-500: rgb(37,34,31);
    --color-milkwhite-500: rgb(237, 237, 237);
    --color-turqoise-500: rgb(58, 72, 85);
    --color-royalblue-100: rgb(3, 39, 71);
    --color-gold-200: rgb(224, 134, 0);
    --color-lightblue-100: rgb(181, 243, 240);
    --color-error-500: rgb(199,51,15);
    --color-lightgreen-100: rgb(130, 194, 10);
    
    /* add spacing as variable and using it later */
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;

    /* add border radius as variable and using it later */
    --border-radius-small: 4px;
    --border-radius-medium: 6px;
    --border-radius-large: 8px;

    /* add shadow medium as variable and using it later */
    --shadow-medium: 0 2px 8px rgba(0,0,0,0.2);

}

body {
    background-color: var(--color-royalblue-100);
    color:var(--color-milkwhite-500);
    margin:0;
}


main {
    width: 90%;
    max-width: 60rem;
    padding-top: 2rem ;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    color:var(--color-gold-200);
}

.btn {
    cursor: pointer;
    font:inherit;
    padding: var(--space-2) var(--space-6);
    color: var(--color-milkwhite-500);
    border: 1px solid var(--color-milkwhite-500);
    border-radius:var(--border-radius-small);
    background-color: var(----color-royalblue-100);

}

.btn:hover,
.btn:active {
    background-color: var(--color-gold-200);
}

.btn-alt{
    background-color: transparent;

}

.btn-alt:hover,
.btn-alt:active{
    background-color:var(--color-gray-500);
}

.alert {
    border-radius: var(--border-radius-small);
    background-color: var(--color-error-500);
    color: var(--color-milkwhite-500);
    padding: var(--space-4);
}

.alert h2 {
    font-size: 1rem;
    margin: var(--space-2) 0;
    text-transform: uppercase;
}

.alert p {
    margin: var(--space-2) 0;
}

.badge {
    margin-left = var(--space-2);
    padding: 0.15rem var(--space-4);
    border-radius : 10rem;
    background-color: var(--color-gray-500);
    color: var( --color-milkwhite-500);
}