
#product-grid{
    margin: var(--space-10) auto;
    display:flex;
    align-item : center;
    /* grid-template-column: repeat(auto-fill, minmax(15rem, 1fr)); */
    gap: var(--space-4);
}


.product-item {
    border-radius : var(--border-radius-medium);
    text-align: center;
    background-color: var(--color-turqoise-500);
    overflow:hidden;
}

.product-item img {
    width:100%;
    height: 10rem;
    object-fit: cover;
}

.product-item-content{
    padding: var(--space-4);

}

.product-item-content h2 {
    font-size: 1.15rem;
    margin: var(--space-2) 0;
}

.product-item-action {
    display:flex;
    gap: var(--space-2);
    margin-top: var(--space-4);
}

.product-item-action a{
    border: 1px solid var(--color-milkwhite-500);
    padding: var(--space-4) var(--space-4);
    border-radius:var(--border-radius-small);
    color:white;
    border: 2;
}

.product-item-action a:hover {
    background-color: var(--color-gold-200)
}

#product-details header {
    margin-top: var(--space-8);
    padding: var(--space-8);
    background-color: var(--color-turqoise-500);
    gap: var(--space-8);
    display:flex;
    justify-content:center;
}

#product-details img {
    width: 100%;
    height: 5rem;
    object-fit:cover;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-gold-200);
}

#product-info {
    text-align: center;
}

#product-description {
    background-color: var(--color-turqoise-500);
    padding: var(--space-8);
    white-space: pre-wrap;
    text-align:center
}

@media(min-width: 48rem){
    #product-details header {
        display:flex;
    }

    #product-details img {
        width: 20rem;
        height: 15rem;
        transform: rotateZ(-10deg);
        margin: var(--space-8);
    }

    #product-info {
        text-align: left;
    }
}