<!-- add the head section and the dynamic title to populate for signup -->

<!-- include the head -->
<%- include('../includes/head' ,{ pageTitle: 'Signup'}) %>

<!-- include the specific css file form.css and auth.css -->
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">


</head>
<body>
    <!-- include the header -->
    <%- include('../includes/header')%>
    <main>
        <h1>Login</h1>
        <form action="/signup" method="POST">
            <p>
                <label for="email">E-Mail</label>
                <input type="email" id="email" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" minlength="6" required>
            </p>
            <button class="btn">Logic</button>
            <p id="switch-form"><a href="/signup">Create a new user</a></p>
        </form>
    </main>


<!--Include the footer -->
<%- include('../includes/footer')%>
