<!-- add the head section and the dynamic title to populate for signup -->

<!-- include the head -->
<%- include('../include/head' ,{ pageTitle: 'Signup'}) %>

</head>
<body>
    <!-- include the header -->
    <%- include('../include/header'%>
    <main>
        <h1>Create New Action</h1>
        <form action="" method="">
            
        </form>
    </main>


<!--Include the footer -->
<%- include('../include/footer'%>
