<!-- add the head section and the dynamic title to populate for signup -->

<!-- include the head -->
<%- include('../includes/head' ,{ pageTitle: 'Signup'}) %>

<!-- include the specific css file form.css and auth.css -->
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">


</head>
<body>
    <!-- include the header -->
    <%- include('../includes/header')%>
    <main>
        <h1>Signup</h1>
        <form action="/signup" method="POST">
            <p>
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="confirm-email">Confirm Email</label>
                <input type="email" name="confirm-email" id="confirm-email" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="6" required>
            </p>
            <hr>
            <p>
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" id="fullname"  required>
            </p>
            <p>
                <label for="street">Street</label>
                <input type="text" name="street" id="street"  required>
            </p>
            <p>
                <label for="postal">Postal</label>
                <input type="text" name="postal" id="postal"  minlength="5" maxlength="5" required>
            </p>
            <p>
                <label for="city">City</label>
                <input type="text" name="city" id="city"  required>
            </p>
            <button class="btn">Create Account</button>
            <p id="switch-form"><a href="/login">Login Instead</a></p>
        </form>
    </main>


<!--Include the footer -->
<%- include('../includes/footer')%>
